*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* overflow-x: hidden; */
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 500;
    position: absolute;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f2f2f2;
    font-size: 1.6rem;
}

.card{
    padding: 2.4rem;
    background-color: #fff;
    position: relative;
    border-radius: 12px;
}
.container{
    width: 39.3rem;
}
.container img{
    width: 39.3rem;
}
.card_category{
    display: flex;
    justify-content: space-between;
}

.card_category p{
    font-size: 1.4rem;
    font-weight: 400;
    color: #1A2128;
}
.card_category a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.discription{
    padding: .8rem 0 2.4rem;
}
.discription h3{
    font-size: 2.4rem;
    color: #1A2128;
}

.discription p{
    font-size: 1.6rem;
    font-weight: 400;
    color: #434D56;
}

.button:link,
.button:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #1A2128;
    transition: all .5s ,text-decoration .5s;
}
.button i{
    padding-left: 1.2rem;
    font-size: 1.8rem;
    transition: all .5s;
}
.button:hover i{
    padding-left: 2rem;
    color: #4F008D;
}
.button:hover,
.button:active{
    color: #4F008D;
    text-decoration: underline;
}
